body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}



button:hover {
    background-color: #0056b3;
}

.register-container {
    margin-top: 20px;
    text-align: center;
}

.register-container a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

.register-container a:hover {
    background-color: #218838;
}

/* Styling for error message */
#error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.logout-btn {
    background-color: #007bff; /* Blue button */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

